<app-datatable [data]="users$ | async">
  <app-column *ngFor="let column of columns" [column]="column">
  </app-column>
  <!--<app-column [column]="columns[0]"></app-column>-->
  <!--<app-column [column]="columns[1]"></app-column>-->
  <!--<app-column [column]="columns[2]"></app-column>-->
  <!--<app-column [column]="columns[3]"></app-column>-->
  <!--<app-column [column]="columns[4]"></app-column>-->
  <!--<app-column [column]="columns[5]"></app-column>-->
  <ng-container>
    <app-column [column]="{label:'Actions',field:null}">
      <ng-template appTemplate="cell" let-item="item">
        <a class="btn btn-warning mr-1" [routerLink]="[item.id]"><i class="fas fa-edit"></i></a>
        <button class="btn btn-danger" (click)="onRemoveClick(item)"><i class="fas fa-trash-alt"></i></button>
      </ng-template>
    </app-column>
  </ng-container>

</app-datatable>
